

body{
  background-image: linear-gradient(to right bottom, #a93030, #970c0c, #914126, #b8391f, #bb251a);
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

.heading_container{
    text-align: left;
    padding-right: 70px;
     padding: 20px;
    color: rgb(13, 255, 0);
    font-family: 'Bungee Spice', cursive;
    transition: 0.9s;
  }

  .heading_container:hover{
    cursor: pointer;
    text-shadow: 45px 45px rgb(255, 255, 255);

  }

  .main-container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items:space-between;
    justify-content:center;
    margin:0 auto;
    max-width: 1450px;
    font-size: 13px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }
  
  .pokemon{
    background-image: linear-gradient(to right bottom, #000000, #282569, #9f5f3f, #7cec21, #ffff00);
    border-radius: 10px;
    padding:70px;
    padding-bottom: 110px;
    margin:20px;
    text-align:left;
    border:1px solid rgb(255, 255, 255);
    text-shadow: 1px 2px  rgb(18, 18, 18);
    box-shadow: #000000 5px 6px;
    transition: 0.5s;
    font-size: 100%;
  
  }

  .pokemon:hover{
    transform: scale(1.06);
    cursor: pointer;
  }
  
  .img-container{
    text-align:center;
    width:100px;
    height:230px;
  }
  img{
    width: 100%;
  }
